<h1>Testing DB loading</h1>

<p>
  <ul>
    <% @all_species.each do |species| %>
      <li>
        <b><%= species.name %></b>
        <ul>
          <li>
            id: <%= species.id %>
          </li>
          <li>
            Classification: <%= species.classification %>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>

</p>
