<h1>Testing DB loading</h1>

<p>
  <ul>
    <% @films.each do |film|
        film.starships.reload
    %>
      <li>
        <b><%= film.title %></b>
        <ul>
          <li>
            id: <%= film.id %>
          </li>
          <li>
            Opening Crawl: <%= film.opening_crawl %>
          </li>
          <li>
            Starships:
            <ul>
              <li>
                # of starships: <%= film.starship_ids %>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>

</p>
