<div class="col-12">
  <h1>Films</h1>
  <p>Listed in release order</p>
  <div class="col-12 d-flex flex-wrap">
    <% @films.each do |film| %>
      <%= render "short_info", film: film%>
    <% end %>
  </div>
</div>