<div class="col-12 d-flex flex-wrap">
  <div class="col1-12 title">
    <h1>Star Wars</h1>
    <h2><%= @film.title %> </h2>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12">
    <p>
      Episode <%= @film.episode_id %><br><br>
      <%= @film.opening_crawl %>
      Director: <%= @film. %>
    </p>
  </div>>
</div>

